dist/check-out-2.html
<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en" itemscope itemtype="http://schema.org/WebSite" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no"><link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="./css/core.min.css">
    <link rel="stylesheet" href="./css/main.css">
    <title>Website</title>
  </head>
  <body>
    <div class="container-all">
      <header class="pb-1 add-bgcolor--primary hidden__md header-default">
        <div class="container">
          <nav class="navbar top-menu">
            <div class="container-fluid">
              <div class="navbar-header"></div>
              <ul class="nav navbar-nav"></ul>
              <ul class="nav navbar-nav navbar-right hidden__xs">
                <li class="active"><a href="#">Trang Chủ</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sản Phẩm Mới</a></li>
                <li><a href="#">Sản Phẩm Trọn Gói</a></li>
                <li><a href="#">Sản Phẩm Khuyến Mãi</a></li>
              </ul>
            </div>
          </nav>
          <div class="mid-header">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="img-wapper"><a href="home.html"><img src="images/logo.png" alt=""></a></div>
              </div>
              <div class="col-sm-6 col-md-3 mt-1">
                <div class="nav-sidebar"><a class="btn btn--secondary btn--nav" href=""><span class="icon-hambuger-dots"></span>Danh Mục Sản Phẩm</a>
                  <ul class="menu-sidebar text-capitalize">
                    <li>
                      <ul class="sub-1 col-xs-2">
                        <li class="nav-hover active"><a href="">Điện Tử <i class="fa fa"></i></a>
                          <ul class="sub-2">
                            <li>
                              <h5><a href="">laptop</a></h5>
                              <ul class="sub-3">
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                              </ul>
                            </li>
                            <li>
                              <h5><a href="">PC</a></h5>
                              <ul class="sub-3">
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                              </ul>
                            </li>
                            <li>
                              <h5><a href="">desktop</a></h5>
                              <ul class="sub-3">
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                              </ul>
                            </li>
                            <li>
                              <h5><a href="">Điện thoại</a></h5>
                              <ul class="sub-3">
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                              </ul>
                            </li>
                            <li>
                              <h5><a href="">tablet</a></h5>
                              <ul class="sub-3">
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li class="nav-hover"><a href="">Điện Gia Dụng</a>
                          <ul class="sub-2">
                            <li>
                              <h5><a href="">laptop</a></h5>
                              <ul class="sub-3">
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                              </ul>
                            </li>
                            <li>
                              <h5><a href="">PC</a></h5>
                              <ul class="sub-3">
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                              </ul>
                            </li>
                            <li>
                              <h5><a href="">desktop</a></h5>
                              <ul class="sub-3">
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                              </ul>
                            </li>
                            <li>
                              <h5><a href="">Điện thoại</a></h5>
                              <ul class="sub-3">
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li class="nav-hover"><a href="">nội thất</a>
                          <ul class="sub-2">
                            <li></li>
                          </ul>
                        </li>
                        <li class="nav-hover"><a href="">thời trang</a>
                          <ul class="sub-2">
                            <li></li>
                          </ul>
                        </li>
                        <li class="nav-hover"><a href="">kỹ thuật số</a>
                          <ul class="sub-2">
                            <li></li>
                          </ul>
                        </li>
                        <li class="nav-hover"><a href="">sức khỏe</a>
                          <ul class="sub-2">
                            <li></li>
                          </ul>
                        </li>
                        <li class="nav-hover"><a href="">văn phòng</a>
                          <ul class="sub-2">
                            <li></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 mt-1">
                <form>
                  <div class="input-group" data-mh="input-btn">
                    <input class="form-control main-ip" type="text">
                    <div class="input-group-btn">
                      <button class="btn btn--secondary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-sm-6 col-md-2 mt-1">
                <ul class="header-list-icon">
                  <li class="mid-header__icon header__cart"><span class="icon-cart icon add-color--white"></span>
                    <div class="popup-cart">
                      <div class="popup-cart__item add-border--bottom-g">
                        <div class="popup-cart__thumbnail pull-left"><img class="img-responsive" src="images/may-anh-lon.jpg" alt=""></div>
                        <div class="popup-cart__desc pull-left">
                          <p><a class="fa-1 text-capitalize" href="">tủ lạnh</a></p>
                          <p class="fa-1 w-700"><span class="cart-number">2 ×</span><span class="cart-price">1,859,000 VNĐ</span></p>
                        </div><span class="popup-cart__close">x</span>
                        <div class="clearfix"></div>
                      </div>
                      <div class="popup-cart__item add-border--bottom-g">
                        <div class="popup-cart__thumbnail pull-left"><img class="img-responsive" src="images/may-anh-lon.jpg" alt=""></div>
                        <div class="popup-cart__desc pull-left">
                          <p><a class="fa-1 text-capitalize" href="">tủ lạnh</a></p>
                          <p class="fa-1 w-700"><span class="cart-number">2 ×</span><span class="cart-price">1,859,000 VNĐ</span></p>
                        </div><span class="popup-cart__close">x</span>
                        <div class="clearfix"></div>
                      </div>
                      <div class="popup-cart__total add-border--bottom-g text-center">
                        <p class="fa-1">Tổng Cộng : <span class="add-color--secondary w-700">3,718,000 VNĐ</span></p>
                      </div>
                      <div class="popup-cart__btn"><a class="btn btn--secondary btn-cart fa-1" href="">Xem Giỏ Hàng</a><a class="btn btn--secondary btn-checkout fa-1" href="">Thanh Toán</a></div>
                    </div>
                  </li>
                  <li class="mid-header__icon header__wishlist"><span class="icon-heart icon add-color--white"></span></li>
                  <li class="mid-header__icon header__user"><span class="icon-user icon add-color--white"></span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
      <header class="header-mobile add-bgcolor--primary pt-2 pb-2 show__md hidden">
        <div class="row">
          <div class="col-xs-4 sidebar__icon text-left"><span class="btn-responsive--left btn-responsive ml-2" data-responsive="#sidebar-repsonsive--nav"><span class="fa fa-navicon"></span><span></span></span></div>
          <div class="col-xs-4">
            <div class="log-responsive"><img class="img-responsive" src="images/logo.png" alt=""></div>
          </div>
          <div class="col-xs-4 sidebar__icon text-right"><span class="btn-responsive--right btn-responsive mr-2" data-responsive="#sidebar-repsonsive--cart"><span class="icon-cart icon"></span></span></div>
        </div>
      </header>
      <div class="sidebar-repsonsive repsonsive-left" id="sidebar-repsonsive--nav">
        <div class="sidebar-responsive__content">
          <div class="btn--close"></div>
          <nav class="menu-responsive">
            <ul>
              <li><a href="">Trang Chủ</a></li>
              <li><a href="">Sản Phẩm Mới</a></li>
              <li><a href="">Sản Phẩm Trọn Gói</a></li>
              <li><a href="">Sản Phẩm Khuyến Mãi</a></li>
              <li>Điện Tử<a class="accordion-toggle" data-toggle="collapse" data-target="#accordion"></a>
                <ul class="collapse sub-1" id="accordion">
                  <li>latop<a class="accordion-toggle" data-toggle="collapse" data-target="#accordion1"></a>
                    <ul class="sub-2" id="accordion1">
                      <li>Lorem ipsum dolor sit.</li>
                      <li>Lorem ipsum dolor sit.</li>
                      <li>Lorem ipsum dolor sit.</li>
                      <li>Lorem ipsum dolor sit.</li>
                    </ul>
                  </li>
                  <li>px</li>
                  <li>destop</li>
                  <li>điện thoại</li>
                  <li>tablet</li>
                </ul>
              </li>
              <li><a href="">Điện Gia Dụng</a></li>
              <li><a href="">Nội Thất</a></li>
              <li><a href="">Thời Trang</a></li>
              <li><a href="">Kỹ Thuật Số</a></li>
              <li><a href="">Sức Khỏe</a></li>
              <li><a href="">Văn Phòng</a></li>
            </ul>
          </nav>
        </div>
        <div class="overlay"></div>
      </div>
      <div class="sidebar-repsonsive sidebar-repsonsive--nav repsonsive-right" id="sidebar-repsonsive--cart">
        <div class="sidebar-responsive__content">
          <div class="sidebar__content">
            <div class="btn--close"></div>
          </div>
        </div>
        <div class="overlay"></div>
      </div>
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-sm-7">
              <h3 class="title--primary title--b-default pb-1 mb-2">Địa chỉ Giao Hàng</h3>
              <form class="form-horizontal" action="">
                <div class="address mb-1">
                  <p>Nguyễn Đức Nam</p>
                </div><a class="add-color--secondary" href="">Chọn Địa Chỉ khác</a>
                <div class="shipping-type mt-2">
                  <h4 class="title--primary title--b-default pb-1 mb-1">Phương Thức Giao Hàng</h4>
                  <div class="shipping-type__item">
                    <input id="old-address" type="radio" name="old-address">
                    <label class="control-label form-txt ml-1" for="old-address">nhanh <span class="shiping__price ml-1">20.000 <span class="flow-Price-currencySymbol">VNĐ</span></span></label>
                  </div>
                  <div class="shipping-type__item">
                    <input id="old-address" type="radio" name="old-address">
                    <label class="control-label form-txt ml-1" for="old-address">Bình Thường <span class="shiping__price ml-1">10.000 <span class="flow-Price-currencySymbol">VNĐ</span></span></label>
                  </div>
                  <div class="shipping-type__item">
                    <input id="old-address" type="radio" name="old-address">
                    <label class="control-label form-txt ml-1" for="old-address">Rất nhanh <span class="shiping__price ml-1">30.000 <span class="flow-Price-currencySymbol">VNĐ</span></span></label>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
              <div class="cart-sidebar col-inner">
                <h3 class="title--primary title--b-default pb-1 mb-1">Đơn Hàng Của Bạn</h3>
                <table class="shop_table flow-checkout-review-order-table">
                  <thead>
                    <tr>
                      <th class="product-name">Sản phẩm</th>
                      <th class="product-total text-right">Tổng cộng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="cart_item">
                      <td class="product-name w-700">
                        <p>Kéo gia cầm cán nhựa<strong class="product-quantity small"> × 2</strong></p><span class="small properties add-color--default">Màu: <span class="properties--value"> Đen</span></span>
                      </td>
                      <td class="product-total text-right"><span class="flow-Price-amount amount add-color--secondary">1,973,400<span class="flow-Price-currencySymbol">VNĐ</span></span></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr class="cart-subtotal add-border--bottom-g">
                      <th>Tổng phụ </th>
                      <td class="text-right"><span class="flow-Price-amount amount add-color--secondary">1,973,400<span class="flow-Price-currencySymbol">VNĐ</span></span></td>
                    </tr>
                    <tr class="row_redeem_money add-border--bottom-g">
                      <th>Khấu trừ tiền thưởng</th>
                      <td class="text-right"><span class="flow-Price-amount amount add-color--secondary">0 VNĐ</span></td>
                    </tr>
                    <tr class="order-total">
                      <th>Tổng cộng</th>
                      <td class="text-right"><strong><span class="flow-Price-amount amount add-color--secondary">1,991,400<span class="flow-Price-currencySymbol">VNĐ</span></span></strong></td>
                    </tr>
                  </tfoot>
                </table>
                <div class="proceed-to-checkout text-center mt-3"><a class="checkout-button btn btn--primary" href="">Tiến hành thanh toán</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="sign-up-mail banner-signup-envelope add-bgcolor--primary">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-0 col-lg-offset-1 mt-2">
              <div class="row">
                <div class="icon-wapper col-sm-4"><span class="icon-mail"></span></div>
                <div class="desc col-sm-8">
                  <h1 class="title--white text-capitalize">đăng ký là thành viên </h1>
                  <p class="add-color--white">Đăng ký là thành viên tại Gia Thành để được nhận  nhiều thông tin ưu đãi và quà tặng khuyến mãi.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 mt-2">
              <div class="caption-signup-envelope">
                <h5 class="title--white mb-2">Email của bạn</h5>
                <form>
                  <div class="input-group" data-mh="input-btn">
                    <input class="form-control main-ip" type="text" placeholder="">
                    <div class="input-group-btn">
                      <button class="btn btn--secondary" type="submit">Đăng Ký</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="hr-bottom"></div>
        </div>
        <footer class="add-bgcolor--primary pt-5 pb-5">
          <div class="container">
            <div class="row">
              <div class="col-md-2 col-sm-6 col-xs-6 box-footer" data-mh="footer-item">
                <h5 class="title--white text-capitalize mb-1">Thông Tin</h5>
                <ul class="add-color--white">
                  <li><a href="">Hướng dẫn mua hàng</a></li>
                  <li><a href="">Đặt hàng và thanh toán</a></li>
                  <li><a href="">Chính sách vận chuyển</a></li>
                  <li><a href="">Chính sách bảo hành</a></li>
                  <li><a href="">Chính sách đổi trả</a></li>
                  <li><a href="">Chính sách bảo mật thông tin</a></li>
                  <li><a href="">Quy chế Sàn giao dịch</a></li>
                </ul>
              </div>
              <div class="col-md-2 col-sm-6 col-xs-6 box-footer" data-mh="footer-item">
                <h5 class="title--white text-capitalize mb-1">Sản phẩm hot</h5>
                <ul class="add-color--white">
                  <li><a href="">Tủ lạnh</a></li>
                  <li><a href="">Máy giặt</a></li>
                  <li><a href="">Máy lạnh</a></li>
                  <li><a href="">Tủ đông</a></li>
                  <li><a href="">Tủ mát</a></li>
                </ul>
              </div>
              <div class="col-md-5 col-sm-6 col-xs-12 box-footer" data-mh="footer-item">
                <h5 class="title--white text-capitalize mb-1">Giới thiệu</h5>
                <ul class="add-color--white">
                  <li>CÔNG TY TNHH THƯƠNG MẠI GIA THÀNH. Địa chỉ: 963 - 969 – 975 Trần Hưng Đạo, P5, Q.5 Tp. Hồ Chí Minh MST: 0302270002</li>
                  <li><strong>Email</strong>: trungtammuasamgiathanh@gmail.com</li>
                  <li><strong>Hotline</strong>: 0966 969 975 - 028.39231538</li>
                  <li>Giấy chứng nhận ĐKKD số: 0302270002 do Sở KH & ĐT TPHCM cấp lần đầu ngày 06/04/2001. Người đại diện: Ông Trương Kính Minh.</li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 box-footer" data-mh="footer-item">
                <h5 class="title--white text-capitalize mb-1">Kết Nối Với Chúng Tôi</h5>
                <div class="group-social mb-1"><span class="fa fa-facebook btn--secondary"></span><span class="fa fa-google-plus btn--secondary"></span><span class="fa fa-youtube btn--secondary"></span><span class="fa fa-twitter btn--secondary"></span></div>
                <ul class="add-color--white">
                  <li>Lorem ipsum dolor sit amet. </li>
                  <li>Vestibulum et ex feugiat.  Nullam </li>
                  <li>Lorem ipsum dolor sit amet.</li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
        <div class="popup_cart"></div>
      </section>
    </div>
    <script src="./js/core.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>

src/check-out-2.pug
extends template/layout.pug
block main
	.container
		.row
			.col-sm-7
				h3.title--primary.title--b-default.pb-1.mb-2 Địa chỉ Giao Hàng
				form.form-horizontal(action='')
					.address.mb-1
						p Nguyễn Đức Nam
					a.add-color--secondary(href='') Chọn Địa Chỉ khác
					.shipping-type.mt-2
						h4.title--primary.title--b-default.pb-1.mb-1 Phương Thức Giao Hàng
						.shipping-type__item
							input#old-address(type='radio', name='old-address')
							label.control-label.form-txt.ml-1(for='old-address')
								| nhanh 
								span.shiping__price.ml-1
									| 20.000 
									span.flow-Price-currencySymbol VNĐ
						.shipping-type__item
							input#old-address(type='radio', name='old-address')
							label.control-label.form-txt.ml-1(for='old-address')
								| Bình Thường 
								span.shiping__price.ml-1
									| 10.000 
									span.flow-Price-currencySymbol VNĐ
						.shipping-type__item
							input#old-address(type='radio', name='old-address')
							label.control-label.form-txt.ml-1(for='old-address')
								| Rất nhanh 
								span.shiping__price.ml-1
									| 30.000 
									span.flow-Price-currencySymbol VNĐ
			.col-sm-4.col-sm-offset-1
				.cart-sidebar.col-inner
					h3.title--primary.title--b-default.pb-1.mb-1 Đơn Hàng Của Bạn
					table.shop_table.flow-checkout-review-order-table
						thead
							tr
								th.product-name Sản phẩm
								th.product-total.text-right Tổng cộng
						tbody
							tr.cart_item
								td.product-name.w-700
									p
										| Kéo gia cầm cán nhựa
										strong.product-quantity.small  × 2
									span.small.properties.add-color--default
										| Màu: 
										span.properties--value  Đen
								td.product-total.text-right
									span.flow-Price-amount.amount.add-color--secondary
										| 1,973,400
										span.flow-Price-currencySymbol VNĐ
						tfoot
							tr.cart-subtotal.add-border--bottom-g
								th Tổng phụ 
								td.text-right
									span.flow-Price-amount.amount.add-color--secondary
										| 1,973,400
										span.flow-Price-currencySymbol VNĐ
							tr.row_redeem_money.add-border--bottom-g
								th Khấu trừ tiền thưởng
								td.text-right
									span.flow-Price-amount.amount.add-color--secondary 0 VNĐ
							tr.order-total
								th Tổng cộng
								td.text-right
									strong
										span.flow-Price-amount.amount.add-color--secondary
											| 1,991,400
											span.flow-Price-currencySymbol VNĐ
					.proceed-to-checkout.text-center.mt-3
						a.checkout-button.btn.btn--primary(href='') Tiến hành thanh toán
